<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>simple6</display-name>
  <welcome-file-list>
    <welcome-file>link.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>controller.Student</servlet-class>
    <init-param>
      <description>studentuser</description>
      <param-name>username</param-name>
      <param-value>srinu</param-value>
    </init-param>
    <init-param>
      <description>password</description>
      <param-name>password</param-name>
      <param-value>srinu</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/suf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Course</display-name>
    <servlet-name>Course</servlet-name>
    <servlet-class>controller.Course</servlet-class>
    <init-param>
      <description>name</description>
      <param-name>username</param-name>
      <param-value>divya</param-value>
    </init-param>
    <init-param>
      <description>pass</description>
      <param-name>password</param-name>
      <param-value>divya</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course</servlet-name>
    <url-pattern>/cos</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>driver</param-name>
  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
   <context-param>
  <param-name>url</param-name>
  <param-value>jdbc:oracle:thin:@LocaLhost:1521:xe</param-value>
  </context-param>
</web-app>