<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>simple8</display-name>
  <welcome-file-list>
    <welcome-file>form1.html</welcome-file> 
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet_Servlet</display-name>
    <servlet-name>Servlet_Servlet</servlet-name>
    <servlet-class>controller.Servlet_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Servlet</servlet-name>
    <url-pattern>/adhara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_Servlet1</display-name>
    <servlet-name>Servlet_Servlet1</servlet-name>
    <servlet-class>controller.Servlet_Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Servlet1</servlet-name>
    <url-pattern>/next</url-pattern>
  </servlet-mapping>
</web-app>